/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(McLaren-Senna-Carbon_01.avif);
  background-size: 400px;
}

/* Navbar utama */
nav {
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}



/* Menu */
.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 25px;
  position: relative;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 6px;
}

.menu a:hover {
  background: rgba(255,255,255,0.2);
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  min-width: 150px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px 0;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  display: block;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

}


